<a href="https://colab.research.google.com/github/hz2582/NYU_Integrated_Marketing/blob/main/Haoming_Zhang_Statistical_1055_capstone_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Preparation

**Install the Package Pandas and Numpy for the function of "TABLE" and "Math"**

In [1]:
import pandas as pd
import numpy as np

**Read the marketing data from Github Url ("Read Raw")**

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/sunshineluyao/NYU_Integrated_Marketing/main/HypothesisTesting_ANOVA/bank-full.csv',sep=";")
df.head()

   age           job  marital  education  ... pdays  previous poutcome   y
0   58    management  married   tertiary  ...    -1         0  unknown  no
1   44    technician   single  secondary  ...    -1         0  unknown  no
2   33  entrepreneur  married  secondary  ...    -1         0  unknown  no
3   47   blue-collar  married    unknown  ...    -1         0  unknown  no
4   33       unknown   single    unknown  ...    -1         0  unknown  no

[5 rows x 17 columns]

**View the data information**

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

**Install the pingouin Package**

In [4]:
pip install pingouin

Collecting pingouin
  Downloading https://files.pythonhosted.org/packages/e6/5f/4618f878765a8b7037b8831f19105c5c2764b26e5e9afa4a29c58fc11d26/pingouin-0.3.8.tar.gz (223kB)
     |████████████████████████████████| 225kB 2.7MB/s
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.6/dist-packages (from pingouin) (1.18.5)
Requirement already satisfied: scipy>=1.3 in /usr/local/lib/python3.6/dist-packages (from pingouin) (1.4.1)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.6/dist-packages (from pingouin) (1.1.4)
Requirement already satisfied: matplotlib>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from pingouin) (3.2.2)
Requirement already satisfied: seaborn>=0.9.0 in /usr/local/lib/python3.6/dist-packages (from pingouin) (0.11.0)
Requirement already satisfied: statsmodels>=0.10.0 in /usr/local/lib/python3.6/dist-packages (from pingouin) (0.10.2)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from pingouin) (0.22.2.post1)
Collecting pandas_flavor>=0.1.2
  Downloading https://files.pythonhosted.org/packages/9a/57/7fbcff4c0961ed190ac5fcb0bd8194152ee1ee6487edf64fdbae16e2bc4b/pandas_flavor-0.2.0-py2.py3-none-any.whl
Collecting outdated
  Downloading https://files.pythonhosted.org/packages/86/70/2f166266438a30e94140f00c99c0eac1c45807981052a1d4c123660e1323/outdated-0.2.0.tar.gz
Requirement already satisfied: tabulate in /usr/local/lib/python3.6/dist-packages (from pingouin) (0.8.7)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->pingouin) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->pingouin) (2018.9)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.0.2->pingouin) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.0.2->pingouin) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.0.2->pingouin) (0.10.0)
Requirement already satisfied: patsy>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from statsmodels>=0.10.0->pingouin) (0.5.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->pingouin) (0.17.0)
Requirement already satisfied: xarray in /usr/local/lib/python3.6/dist-packages (from pandas_flavor>=0.1.2->pingouin) (0.15.1)
Collecting littleutils
  Downloading https://files.pythonhosted.org/packages/4e/b1/bb4e06f010947d67349f863b6a2ad71577f85590180a935f60543f622652/littleutils-0.2.2.tar.gz
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from outdated->pingouin) (2.23.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->pingouin) (1.15.0)
Requirement already satisfied: setuptools>=41.2 in /usr/local/lib/python3.6/dist-packages (from xarray->pandas_flavor>=0.1.2->pingouin) (50.3.2)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->outdated->pingouin) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->outdated->pingouin) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->outdated->pingouin) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->outdated->pingouin) (2.10)
Building wheels for collected packages: pingouin, outdated, littleutils
  Building wheel for pingouin (setup.py) ... done
  Created wheel for pingouin: filename=pingouin-0.3.8-cp36-none-any.whl size=221688 sha256=54a1f1f388d3dc22ccf5da7ad819759a980521e69bedbb179e969cf0835ee533
  Stored in directory: /root/.cache/pip/wheels/d6/9e/53/f885f73f29cf7c8cac3d8f4b1532bbfef2f5eb543946ac9055
  Building wheel for outdated (setup.py) ... done
  Created wheel for outdated: filename=outdated-0.2.0-cp36-none-any.whl size=4961 sha256=cf9964f7923ad36e53d517c821919929f3ab6e401635f197f10ef3370964760e
  Stored in directory: /root/.cache/pip/wheels/fd/7c/ef/814f514d31197310872b5abf353feb8fef9d67ee658e1e7e39
  Building wheel for littleutils (setup.py) ... done
  Created wheel for littleutils: filename=littleutils-0.2.2-cp36-none-any.whl size=7051 sha256=d7ad03ceeb8f6213e418003a027901fd52874e94e361d0807455597ce747d3d9
  Stored in directory: /root/.cache/pip/wheels/53/16/9f/ac67d15c40243754fd73f620e1b9b6dedc20492ecc19a2bae1
Successfully built pingouin outdated littleutils
Installing collected packages: pandas-flavor, littleutils, outdated, pingouin
Successfully installed littleutils-0.2.2 outdated-0.2.0 pandas-flavor-0.2.0 pingouin-0.3.8

**Import the pingouin package**

In [5]:
import pingouin as pg

# Hypothesis Test

**One-Sample T-test**

https://pingouin-stats.org/generated/pingouin.ttest.html#pingouin.ttest

In [6]:
x=df['age']
pg.ttest(x, 30)

/usr/local/lib/python3.6/dist-packages/pingouin/bayesian.py:152: RuntimeWarning: divide by zero encountered in double_scalars
  bf10 = 1 / ((1 + t**2 / df)**(-(df + 1) / 2) / integr)

                 T    dof       tail  ...   cohen-d BF10  power
T-test  218.985328  45210  two-sided  ...  1.029895  inf    1.0

[1 rows x 8 columns]

In [7]:
df['age'].mean()

40.93621021432837

**Two-Sample T-Test**

https://pingouin-stats.org/generated/pingouin.ttest.html#pingouin.ttest

In [8]:
balance_housing = df[df['housing']=='yes']['balance']
balance_no_housing = df[df['housing']=='no']['balance']

In [9]:
balance_housing.mean()

1175.1030640668523

In [10]:
balance_no_housing.mean()

1596.5012698570788

In [11]:
x=balance_housing
y=balance_no_housing
pg.ttest(x, y, paired=False)

                T           dof       tail  ...   cohen-d       BF10  power
T-test -14.081118  34203.875315  two-sided  ...  0.138728  9.456e+40    1.0

[1 rows x 8 columns]

**One-Way ANOVA**

https://pingouin-stats.org/generated/pingouin.anova.html#pingouin.anova

In [12]:
aov = pg.anova(dv='balance', between='education', data=df)
aov.round(3)

      Source  ddof1  ddof2        F  p-unc    np2
0  education      3  45207  116.682    0.0  0.008

In [13]:
df.groupby('education')['balance'].mean()

education
primary      1250.949934
secondary    1154.880786
tertiary     1758.416435
unknown      1526.754443
Name: balance, dtype: float64

**Two-Way ANOVA**

https://pingouin-stats.org/generated/pingouin.anova.html#pingouin.anova

In [14]:

aov = pg.anova(dv='balance', between=['education','job'], data=df)
aov.round(3)

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

            Source            SS       DF            MS       F  p-unc    np2
0        education  8.458529e+08      3.0  2.819510e+08  30.802  0.000  0.002
1              job  1.966850e+09     11.0  1.788045e+08  19.534  0.000  0.005
2  education * job  5.327554e+08     33.0  1.614410e+07   1.764  0.004  0.001
3         Residual  4.134038e+11  45163.0  9.153594e+06     NaN    NaN    NaN

In [15]:
df.groupby(['education','job'])['balance'].sum()

education  job
primary    admin.             194470
           blue-collar       4081580
           entrepreneur       307324
           housemaid          707420
           management         491640
           retired           1494239
           self-employed      172994
           services           333467
           student             54715
           technician         234981
           unemployed         408165
           unknown             89263
secondary  admin.            4708657
           blue-collar       5714177
           entrepreneur       580396
           housemaid          570218
           management        1487048
           retired           2028145
           self-employed      742616
           services          3311338
           student            640031
           technician        5881175
           unemployed        1043027
           unknown             88716
tertiary   admin.             696569
           blue-collar        230838
           entrepreneur      1256618
           housemaid          316662
           management       14306029
           retired            791016
           self-employed     1625349
           services           244710
           student            366818
           technician        2974578
           unemployed         487493
           unknown             92017
unknown    admin.             273727
           blue-collar        472546
           entrepreneur       118088
           housemaid          132270
           management         395571
           retired            178863
           self-employed       61187
           services           252389
           student            240437
           technician         425512
           unemployed          44150
           unknown            240443
Name: balance, dtype: int64

**Chi-Squared of Independence**

https://pingouin-stats.org/generated/pingouin.chi2_independence.html#pingouin.chi2_independence

In [16]:
expected, observed, stats = pg.chi2_independence(df, x='loan',
                                                 y='y')

In [17]:
expected

y               no          yes
loan
no    33525.437924  4441.562076
yes    6396.562076   847.437924

In [18]:
observed

y          no     yes
loan
no    33162.5  4804.5
yes    6759.5   484.5

In [19]:
stats

                 test    lambda        chi2  dof          pval    cramer  power
0             pearson  1.000000  209.616980  1.0  1.665061e-47  0.068091    1.0
1        cressie-read  0.666667  217.964803  1.0  2.513745e-49  0.069434    1.0
2      log-likelihood  0.000000  237.146048  1.0  1.648199e-53  0.072425    1.0
3       freeman-tukey -0.500000  254.090511  1.0  3.331960e-57  0.074967    1.0
4  mod-log-likelihood -1.000000  273.667325  1.0  1.801570e-61  0.077802    1.0
5              neyman -2.000000  322.752120  1.0  3.642820e-72  0.084491    1.0

**Mann-Whitney U Test (= Wilcoxon rank-sum test)**

https://pingouin-stats.org/generated/pingouin.mwu.html#pingouin.mwu

In [20]:
balance_loan = df[df['loan']=='yes']['balance']
balance_no_loan = df[df['loan']=='no']['balance']

In [21]:
df.groupby('loan')['balance'].median()

loan
no     496
yes    258
Name: balance, dtype: int64

In [ ]:
x=balance_loan
y=balance_no_loan
pg.mwu(x, y, tail='two-sided')

           U-val       tail          p-val       RBC      CLES
MWU  109609078.0  two-sided  1.515910e-165  0.202939  0.398531

#Paired Tests

**Import the data**

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/sunshineluyao/NYU_Integrated_Marketing/main/HypothesisTesting_ANOVA/Q_GDP_Capita.csv')
df.head()

**Conduct the paired-t test to compare the GDP per capita for the first quarter of 2019 and 2020 for all countries**

https://pingouin-stats.org/generated/pingouin.ttest.html#pingouin.ttest

In [ ]:
df_2019_Q2 = df[df.TIME=='2019-Q2'][['Country','Value','TIME']]
df_2019_Q2=df_2019_Q2.groupby(['Country','TIME']).max().reset_index()
df_2019_Q2=df_2019_Q2[['Country','Value']].sort_values(by='Country', ascending=True)
df_2019_Q2.head()

In [ ]:
df_2020_Q2 = df[df.TIME=='2020-Q2'][['Country','Value','TIME']]
df_2020_Q2=df_2020_Q2.groupby(['Country','TIME']).max().reset_index()
df_2020_Q2=df_2020_Q2[['Country','Value']].sort_values(by='Country', ascending=True)
df_2020_Q2.head()

In [ ]:
pre=df_2019_Q2['Value']
post=df_2020_Q2['Value']
from pingouin import ttest
ttest(pre, post, paired=True).round(2)

In [ ]:
df_Figure = df[df.TIME.isin(['2019-Q2','2020-Q2'])][['Country','Value','TIME']].groupby(['Country','TIME']).max().reset_index()
import plotly.express as px
fig = px.bar(df_Figure, x="Country", y="Value",
             color='TIME', barmode='group',
             height=400)
fig.show()

Conduct the Wilcoxon Signed-rank test to compare probability of GDP per capita for the first quarter of 2019 is larger than 2020 or not for all countries

In [ ]:
### install the package
import pingouin as pg
pg.wilcoxon(pre, post, tail='two-sided')

# Assumption: Pearson or Spearman Test of Correlations

**Histogram and scatterplot**

In [ ]:
#install package
import seaborn as sns

In [ ]:
df_joint= df_2019_Q2.merge(df_2020_Q2, how='inner',on="Country")
df_joint.columns =['Country','2019_Q2','2020_Q2']
df_joint.head()

**draw scatter and histgram plot**

https://seaborn.pydata.org/generated/seaborn.jointplot.html

In [ ]:
#draw the plot
sns.jointplot(data=df_joint, x="2019_Q2", y="2020_Q2")

**Test for multivariate normality**

https://pingouin-stats.org/generated/pingouin.multivariate_normality.html

In [ ]:
X = df_joint[['2019_Q2', '2020_Q2']]
pg.multivariate_normality(X, alpha=.05)

**We can't reject multivariate normality, so we will use pearson test for correlations**

https://pingouin-stats.org/generated/pingouin.corr.html#pingouin.corr

In [ ]:
x=df_joint['2019_Q2']
y=df_joint['2020_Q2']
pg.corr(x, y, method="pearson").round(3)

#Power Analysis

**Power analysis for T-test**

https://pingouin-stats.org/generated/pingouin.power_ttest.html#pingouin.power_ttest


Note: For a paired T-test, the sample size n corresponds to the number of pairs. For an independent two-sample T-test with equal sample sizes, n corresponds to the sample size of each group (i.e. number of observations in one group).

In [ ]:
#install the package
from pingouin import power_ttest

d is the Cohen d effect size, Power is 1-Type II error, Alpha is the type I error

In [ ]:
### conduct the test
print('n: %.4f' % power_ttest(d=0.2, power=0.80, alpha=0.05))

**Power analysis for ANOVA**

https://pingouin-stats.org/generated/pingouin.power_anova.html#pingouin.power_anova

In [ ]:
# install the package
from pingouin import power_anova

eta is the effect size for ANOVA (the level of correlation across catergories), k is the number of categories, Power is 1-Type II error, alpha is type I error

In [ ]:
### conduct the test
print('n: %.4f' % power_anova(eta=0.1, k=3, power=0.80, alpha=0.05))

**Power analysis for Chi-square Test**

https://pingouin-stats.org/generated/pingouin.power_chi2.html#pingouin.power_chi2

In [ ]:
# install the package
from pingouin import power_chi2

dof is the degress of freedom $=(r-1)*(c-1)$, where r is the number of rows in the expected frequency table and c is the nuber of columns in the expected frequency table. W is the effect size, which is the level of correlation. Power is 1-Type II error and Alpha is the type I error.

In [ ]:
### conduct the test
print('n: %.4f' % power_chi2(dof=1, w=0.3, power=0.80, alpha=0.05))